{% extends 'base.html.twig' %}


{% block body %}
	<form method="post">


		<section class="dark:bg-gray-900">
			<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto mt-5 lg:py-0">
				<a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
					<img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
					Comparateur
				</a>
				{% if error %}
					<div class="p-4 mb-4 text-lg  text-white text-3xl text-center rounded-lg bg-red-400 dark:bg-red-800 dark:text-blue-400">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				{% if app.user %}
					<div class="mb-3">
						Vous êtes connecté en tant que 
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}">Se déconnecter</a>
					</div>
				{% endif %}
				<div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
					<div class="p-6 space-y-4 md:space-y-6 sm:p-8">
						<h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
							Authentification
						</h1>
				
							<div>
								<label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre adresse Email</label>

								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" autocomplete="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" autofocus>
							</div>
							<div>
								<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Votre mot de passe</label>

								<input type="password" name="password" id="inputPassword" autocomplete="current-password" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
							</div>
							<div class="flex items-center justify-between">
								<div class="flex items-start">
									<div class="flex items-center h-5">
										<input id="_remember_me" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800" name="_remember_me">
									</div>
									<div class="ml-3 text-sm">
										<label for="remember" class="text-gray-500 dark:text-gray-300">Se rappeler de moi</label>
									</div>
								</div>
								<a href="#" class="text-sm font-medium text-primary-600 hover:underline dark:text-primary-500">Mot de passe oublié?</a>
							</div>
							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<button type="submit" class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">Se connecter</button>
							<p class="text-sm font-light text-gray-500 dark:text-gray-400">
								Vous n'avez pas de compte ?
								<a href="{{ path('security.register')}}" class="font-medium text-primary-600 hover:underline dark:text-primary-500">S'enregistrer</a>
							</p>
						
					</div>
				</div>
			</div>
		</section>
	</form>
{% endblock %}
