{% extends 'base.html.twig' %}


{% block body %}
	{% include 'initial/_banniere.html.twig' %}
	{% include 'components/_search.html.twig' %}
{% include 'components/_nav.html.twig' with {
	categories : categories,
	articles :  articles
}%}

{% endblock %}
