{% extends 'base.html.twig' %}



{% block body %}

<p class="text-6xl text-gray-900 dark:text-white">Gestion des Articles</p>


{{ form_start(form) }}

	<div class="mb-6 mt-6">
		{{ form_widget(form.article, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
         <span class="text-sm text-red-700">{{ form_errors(form.article) }}</span>  
    </div>
    <div class="mb-6 mt-6">
		{{ form_widget(form.prix, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
         <span class="text-sm text-red-700">{{ form_errors(form.prix) }}</span>  
    </div>
    
     <div class="mb-6 mt-6">
		{{ form_widget(form.lien, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
         <span class="text-sm text-red-700">{{ form_errors(form.lien) }}</span>  
    </div>
    <div class="flex items-center">
     <label for="checked-checkbox" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300 mr-9">Livraison gratuite ?</label>
   {{ form_widget(form.livraison, {'attr': {'class': 'w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600'}}) }}
         
         <span class="text-sm text-red-700">{{ form_errors(form.livraison) }}</span>  
</div>
 
      <div class="mb-6 mt-6">
		{{ form_widget(form.prixLivraison, {'attr': {'class': 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'}}) }}
         <span class="text-sm text-red-700">{{ form_errors(form.prixLivraison) }}</span>  
    </div>
	

	<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Enregistrer</button>
{{ form_end(form)}}


{% endblock %}
