<div
	class="container max-w-full ">
	<!-- Section: Design Block -->
	<section class="background-radial-gradient mb-35">


		<div class="px-6 py-12 text-center md:px-1 lg:text-left">
			<div class="container mx-auto xl:px-32">
				<div class="flex grid items-center gap-12 lg:grid-cols-2">
					<div class="mt-12 lg:mt-0">
						<h1 class="mb-16 text-5xl font-bold tracking-tight text-[hsl(218,81%,95%)] md:text-6xl xl:text-7xl">
							Quand on sait qui est le moins cher,
							<br/><span class="text-[hsl(218,81%,75%)]">pourquoi aller ailleurs ?</span>
						</h1>
						
					</div>
					<div class="mb-12 lg:mb-0">
						<img src="{{ asset('images/ban.jpg')}}" class="w-full rounded-lg shadow-lg" alt=""/>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Section: Design Block -->
</div>
