
	<div class="w-full max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">


		<img class="p-8 rounded-t-lg" src="{{ vich_uploader_asset(article,'imageFile')}}" alt="{{nom | raw }}"/>


		<div class="px-5 pb-5 ">

			<h5 class="text-base  font-semibold tracking-tight text-gray-900 dark:text-white flex justify-center items-center">
				{{ nom | raw | upper | u.truncate(30, '...')}}</h5>

			<div class=" flex justify-center items-center mt-5">
				<span class="bg-blue-100 text-blue-800 text-xs font-medium mr-2 px-2.5 py-0.5 rounded dark:bg-blue-900 dark:text-blue-300">
					<span class="text-2xl font-bold text-gray-900 dark:text-white">{{prix | raw }}
						MAD</span>
				</span>
			</div>
			<div class="flex justify-center items-center mt-5 ">


				<a href="{{ path('home.index')}}" class=" px-5 py-2 border border-primary text-blue-500 hover:bg-primary  transition-all outline-none bg-black border-black text-white hover:text-black hover:bg-white font-bold">
					Voir les détails</a>

			</div>
		</div>

	</div>

