<!-- component -->

<section class="bg-white dark:bg-red-900">
	<div class="container px-6 py-8 mx-auto">
		<div class="lg:flex lg:-mx-2">



			<div class="space-y-3 lg:w-1/5 lg:px-2 lg:space-y-4 mt-10">
			<p class="text-3xl font-medium dark:text-white">Catégories</p>
				{% for category in categories %}
				<a href="#" class="block font-medium text-base font-medium  hover:underline">{{ category.nom | raw | upper}}</a>
				{% endfor %}
			</div>

			<div class="mt-6 lg:mt-0 ">
				<div class="flex items-center justify-between text-sm tracking-widest uppercase ">
					<p class="text-gray-500 dark:text-gray-300">{{ total }} Article(s)</p>
					<div class="flex items-center">
						<p class="text-gray-500 dark:text-gray-300 mr-10">Filtre</p>
						<select class="font-medium text-gray-700 bg-transparent dark:text-gray-500 focus:outline-none">
							<option value="#">Date d'ajout</option>
							<option value="#">Mieux notés</option>
							<option value="#">Prix descendant</option>
							<option value="#">Prix ascendant</option>
						</select>
					</div>
				</div>

				<div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

					{% for article in articles %}
					<div class="flex flex-col items-center justify-center w-full max-w-lg mx-auto">
						{% include 'components/_cardProduct.html.twig' with {
                            nom : article.nom | raw, 
                            description : article.details | raw, 
							prix : article.prix | number_format(2,'.',' ' )
                        }%}
					</div>
					{% endfor %}

                    
				</div>
			</div>
		</div>
	</div>
</section>
<div class="flex justify-center mt-5 mb-20">
		{{ knp_pagination_render(articles) }}

	</div>
